* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --head-foot-color: orange;
    --azul-hover: rgb(187, 243, 187);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: var(--head-foot-color);
    height: 100px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

#wrap-title a {
    display: block;
    padding: 20px;
    line-height: 55px;
    text-decoration: none;
    font-size: 40px;
    color: grey;
    float: left;
}


#btn-menu{
    display: none;
}
header label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.menu ul{
    
    display: flex;
    list-style: none;
}
.menu ul ul {
    display: none;

}
.menu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    background: rgba(0, 0,0, 0.3);
}
.menu a span{
    margin-left: 10px;
}
.menu ul li:hover ul{
    display: block;
    position: absolute;
}



main {
    background:white;
    height: 85vh;
}

footer {
    background: var(--head-foot-color);
    height: 100px;
}

#wrap-footer {
    width: 80%;
    margin: 0 auto;
    color: grey;
}

#wrap-footer p {
    display: block;
    text-align: center;
    padding-top: 45px;
}


@media only screen and (max-width:768px) {
    header {
        height: 80px;
    }

    #wrap-title a {
        line-height: 45px;
        font-size: 25px;
    }
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        top: 50px;
        left: 100%;
        width: 30%;
        transform: translateX(-100%);
    }
    .menu ul{
        display: block;
        background: #555;
       
    }
    .menu ul li:hover ul{
        display: none;
    }
    .menu a span{
        position: absolute;
        right: 5px;
    }
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
    }
    

    main {
        height: 85vh;
    }

    footer {
        height: 80px;
    }
    
    #wrap-footer p {
        padding-top: 30px;
    }
}

@media only screen and (max-width:768px) {
}